{erl_opts, [debug_info]}.

{deps, [
        {'erlando', {git, "https://github.com/slepher/erlando.git", {tag,    "2.5.2" }}}
       ]}.

{provider_hooks, [{post, [{compile, {erlando, compile}}]}]}.

{erl_first_files, ["src/yaliver_base_rules.erl", 
                   "src/yaliver_collection_rules.erl", 
                   "src/yaliver_string_rules.erl",
                   "src/yaliver_number_rules.erl",
                   "src/yaliver_rules_meta.erl"
                  ]}.

{post_hooks, [
  {"linux|darwin", compile, "rm -f erlando.state"}
]}.
